# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Extra environment variables/configuration that is machine specific
.extra

# LazyGit state file
lazygit/.config/lazygit/state.yml

# Ignore everything in custom scripts directory except .local/scripts
#
# This is needed as the ~/.local folder might have other folders outside of the
# custom scripts one we are adding via a GNU Stow alias
!/custom-scripts/
/custom-scripts/**
!/custom-scripts/\.local/
!/custom-scripts/\.local/scripts/
!/custom-scripts/\.local/scripts/*
