#!/usr/bin/env bash

SYSTEM_TYPE=$(uname -s)

export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

export BAT_THEME="OneHalfDark"

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"

# Change data directory for zoxide
export _ZO_DATA_DIR="$XDG_DATA_HOME/zoxide"

# ZSH Cache Directory that some Oh My ZSH Plugins (Kubernetes, Minikube) use to
# cache ZSH completion files
export ZSH_CACHE_DIR="$HOME/.cache/zsh"

# MacOS
if [ "$SYSTEM_TYPE" = "Darwin" ]; then
  # Set Homebrew environment variables
  eval "$(brew shellenv)"

  # Set $EDITOR variable

  # Make Visual Studio Code the default editor
  # export EDITOR="code -w"

  # Make Homebrew neovim the default editor
  export EDITOR="$HOMEBREW_PREFIX/bin/nvim"
  export VISUAL="$HOMEBREW_PREFIX/bin/nvim"
fi

# Linux
if [ "$SYSTEM_TYPE" = "Linux" ]; then
  export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew"
  export HOMEBREW_CELLAR="/home/linuxbrew/.linuxbrew/Cellar"
  export HOMEBREW_REPOSITORY="/home/linuxbrew/.linuxbrew/Homebrew"
  export MANPATH="/home/linuxbrew/.linuxbrew/share/man${MANPATH+:$MANPATH}:"
  export INFOPATH="/home/linuxbrew/.linuxbrew/share/info:${INFOPATH:-}"
fi

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768'
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy'

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768'
export HISTFILESIZE="${HISTSIZE}"

# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth'

export HISTTIMEFORMAT="[%F %T] "

# Make some commands not show up in history
export HISTIGNORE="ls:clear:cd:cd -:pwd:exit:date:* --help:s:v:a"

if [ "$SYSTEM_TYPE" = "Darwin" ]; then
  # Prefer US English and use UTF-8
  export LANG="en_US.UTF-8"
  export LC_ALL="en_US.UTF-8"
fi

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Require Virtual Environment before invoking pip
export PIP_REQUIRE_VIRTUALENV=true

# Don't create .pyc files
export PYTHONDONTWRITEBYTECODE=true

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty)

# Turn off Homebrew analytics
export HOMEBREW_NO_ANALYTICS=1

# FZF options
export FZF_DEFAULT_OPTS="--layout reverse --pointer 👉🏼"
export FZF_DEFAULT_COMMAND='fd --type f'
export FZF_CTRL_T_COMMAND="fd --hidden --follow --exclude \".git\" . $HOME"
export FZF_CTRL_T_OPTS="--preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"
export FZF_ALT_C_COMMAND="fd -t d --hidden --follow --exclude \".git\" --exclude \"Applications\" --exclude \"Library\" . $HOME"
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"
